# === PUBLIC PACKAGES ===
{{ range .packages.public -}}
{{ . }}
{{ end -}}

# === PRIVATE PACKAGES FOR THIS HOSTNAME ===
{{ $hostname := .chezmoi.hostname -}}
{{ if hasKey .packages $hostname -}}
{{ range (index .packages $hostname).packages -}}
{{ . }}
{{ end -}}
{{ end -}}
