@define-color highlight rgba(117, 241, 250, 1);
@define-color dark-9 rgba(24, 24, 27, 1);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 14px;
}

window#waybar {
    margin: 15px;
    background-color: @dark-9;
    color: #ffffff;
}

#workspaces button {
    min-width: 24px;
    min-height: 24px;
    padding: 0;
    margin: 7px 0 7px 7px;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 50%;

    color: white;
}

#workspaces button.active {
    min-width: 50px;
    padding: 0 10px;

    background: @highlight;
    border-radius: 20px;

    color: black;
    font-weight: 700;
}

#workspaces button.urgent {
    background: #f38ba8;
    color: #1e1e2e;
}

#battery,
#bluetooth,
#cpu,
#memory,
#network {
    border-radius: 8px;
    padding: 5px 8px;
    margin: 5px 10px 5px 0px;
    background: @dark-8;
}
