file://{{ .chezmoi.homeDir }}/Downloads Downloads
file://{{ .chezmoi.homeDir }}/Documents Documents
file://{{ .chezmoi.homeDir }}/Pictures Pictures
file://{{ .chezmoi.homeDir }}/Videos Videos
file://{{ .chezmoi.homeDir }}/Projects Projects
file://{{ .chezmoi.homeDir }}/Scripts Scripts
file://{{ .chezmoi.homeDir }}/Source Source
